################################
# Project Specific Settings
################################
syncgmenv/*
!syncgmenv/requirements.txt
src/config.yml
*.log

################################
# OS
################################
.DS_Store
Thumbs.db

################################
# Editor
################################
*~
*.swap
\#*\#

################################
# IntelliJ IDEA
################################
*.iml
.idea

